.message {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid gray;
}

.message>img {
    height: 50px;
    width: 50px;
    object-fit: fill;
    border-radius: 1000px;
}

.meesage_timestamp {
    color: gray;
    font-weight: 300;
    font-size: 13px;
    padding: 1px 5px;
}